* {
    box-sizing: border-box;
}

@property --rotation {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.heading.lv3 {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    min-width: 108px;
    border-radius: 6px;
    padding: 11px 24px;
    border: 1px solid transparent;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    transition: all 0.3s ease;
}

.btn:hover {
    background: var(--primary-color);
    color: #fff;
    filter: brightness(1.1);
    cursor: pointer;
}

.cta-btn,
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-btn {
    display: inline-block;
    min-width: 186px;
    padding: 20px 40px;
    border-radius: 14px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    transition: all 0.3s ease;
}

.cta-btn:hover,
.control-btn:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.control-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: var(--primary-color);
    color: #fff;
    line-height: 1.5;
    transition: all 0.3s ease;
}

.signup-btn {
    border: 1px solid var(--primary-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}
.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    word-break: break-all;
}

.no-break {
    white-space: nowrap;
}

.features-top .label,
.popular-top .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* Header */
.header.fixed {
    position: sticky;
    top: -32px;
    z-index: 100;
    transition: all 0.3s ease;
}

.header.scrolled {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header .body {
    padding: 36px 0 8px;
}

.nav ul {
    display: flex;
}

.nav li {
    text-align: center;
}

.nav li a {
    color: #2f3a3b;
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.nav li:hover a {
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a {
    font-weight: 600;
}

/* Hero */
.hero {
    padding: 50px 0 79px;
}

.hero .content {
    width: 51%;
}

.hero .label {
    color: #767e7e;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.hero .desc {
    max-width: 374px;
    color: #9da6a5;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.77;
}

.hero .cta-group {
    display: flex;
    margin: 32px 0;
}

.hero-btn {
    margin-right: 50px;
}

.hero .play-btn {
    background: red;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    padding: 0;
}

.hero .play-btn:hover {
    background: #e3f2f2;
    opacity: 0.8;
}

.play-btn .icon {
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
}

.hero .media-block .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
    object-position: center;
}

.hero .media-block {
    position: relative;
    width: 49%;
    background: #e0f7f6;
}

.hero .hero-card {
    position: absolute;
    padding: 18px 25px;
    background: #fefefd;
    border-radius: 18px;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero-card .label,
.hero-card .quantity {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.card-course {
    display: flex;
    align-items: center;
    gap: 20px;
    left: -40px;
    top: 149px;
}

.card-course .icon {
    position: relative;
}

.card-course .icon img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-course .icon::after {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 999px;
}

.card-schedules {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    gap: 12px;
    left: -63px;
    bottom: 46px;
}

.card-schedules .label {
    text-align: center;
}

.card-schedules .row {
    width: 74px;
    height: 6px;
    background: #edf1f5;
    border-radius: 999px;
    position: relative;
    overflow: hidden;
}

.card-schedules .row + .row {
    margin-top: 10px;
}

.card-schedules .row:last-child {
    width: 26px;
    height: 6px;
    border-radius: 3px;
    background: #edf1f5;
    margin: 12px auto 0;
}

.card-schedules .row:not(:last-child)::after {
    content: "";
    background: #fb9899;
    display: block;
    width: 60%;
    height: 100%;
}

.card-schedules .row:nth-child(1)::after {
    width: 39%;
}

.card-schedules .row:nth-child(2)::after {
    width: 51%;
}
.card-schedules .row:nth-child(3)::after {
    width: 33%;
}

.card-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    gap: 8px;
    right: 45px;
    bottom: 41px;
}

.card-students .avatar-group {
    display: flex;
}

.card-students .avatar-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-students .avatar-frame:hover {
    transform: translateY(-5px) scale(1.1);
    z-index: 10;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-students .avatar-frame + .avatar-frame {
    margin-left: -5px;
}

.card-students .avatar-frame:nth-child(2) {
    background: #ffc147;
}

.card-students .avatar-frame:nth-child(3) {
    background: #ff947a;
}

.card-students .avatar-frame:nth-child(4) {
    background: #bf83ff;
}

.card-students .avatar-frame .quantity {
    color: #fff;
}

/* Features */
.features {
    margin: 130px 0 0;
}

.features-top {
    width: 590px;
    max-width: 100%;
}

.features-top .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.features-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    gap: 26px;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease;
}

.feature-item:hover {
    transform: translateY(-5px) scale(1.1);
    z-index: 10;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.feature-item:nth-child(1) {
    max-width: 178px;
}

.feature-item:nth-child(2) {
    max-width: 234px;
}

.feature-item:nth-child(3) {
    max-width: 233px;
}

.feature-item .thumb {
    width: 102px;
    height: 106px;
}

.feature-item .thumb .icon {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.feature-item .title {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.feature-item .desc {
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68;
}

/* Popular */
.popular {
    margin: 130px 0 0;
}
.popular-top .info,
.popular-top .content .desc {
    max-width: 525px;
}

.popular-top .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77;
}

.popular-top .link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.course-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 79px;
    gap: 47px;
    padding: 5px;
    overflow: hidden;
}

.course-item {
    flex-shrink: 0;
    width: calc(33.33% - 31.33px);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.course-list:hover .course-item:not(:hover) {
    transform: scale(0.9);
}

.course-item:hover .thumb {
    opacity: 1;
}

.course-item:hover img {
    filter: brightness(1.1);
}

.course-item .thumb {
    display: inline-block;
    opacity: 0.35;
    background: #d0efed;
}

.course-item .thumb img {
    width: 100%;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: multiply;
}

.course-item .content {
    position: relative;
    bottom: 65px;
    inset-inline: calc(calc(100% - 34px) / 2) px;
    margin-inline: auto;
    max-width: 325px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.course-item .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.course-item .fee {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.course-item strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.course-item .desc {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}

.course-summary {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 18px 0 29px -5px;
}

.course-summary li {
    list-style: none;
    display: inline-flex;
    gap: 5px;
    margin-left: 5px;
}

.course-summary li::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    flex-shrink: 0;
    position: relative;
    top: 0.5em;
    transform: translateY(-50%);
}

@media screen and (max-width: 576px) {
    .feature-list,
    .popular-top .content,
    .course-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;
    }

    .course-list {
        gap: 47px;
    }

    .course-item {
        width: 100%;
    }
}

/* Stats */
.stats {
    margin-top: 205px;
    padding: 30px 0;
}

.stats .body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.stats .col {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats .quantity {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.stats .label {
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (max-width: 546px) {
    .stats .main-content {
        padding: 0;
    }

    .stats .body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .stats .quantity {
        font-size: 4rem;
    }

    .stats .label {
        font-size: 1.6rem;
    }
}

/* Testimonials */
.testimonials {
    --rotation: 0deg;
    margin-top: 235px;
    padding: 30px 0;
}

.testimonial-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 419px;
}

.testimonial-item .open-quote {
    width: 36px;
    height: 29px;
}

.testimonial-item blockquote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.testimonial-item .desc {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.testimonial-item .desc::before {
    content: "-";
    color: #070707;
}

.testimonial-item strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial-item .controls {
    margin-top: 52px;
}

.testimonials .images {
    position: relative;
    margin-left: 72px;
    min-width: 679px;
    height: 481px;
}

.testimonials .avatar-frame {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--primary-color);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.testimonials .avatar {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.testimonials .avatar-frame:hover {
    transform: translateY(-5px) scale(1.1);
    z-index: 10;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.testimonials .avatar-frame.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 235px;
    height: 235px;
    background: #ff8282;
    z-index: 10;
}

.testimonials .avatar-frame:not(.active) {
    top: 50%;
    left: 50%;
    will-change: transform;
}

.testimonials:hover .avatar-frame:not(.active) {
    animation: orbit 10s linear infinite;
}

.testimonials .avatar-frame:not(.active):nth-child(1) {
    width: 92px;
    height: 92px;
    transform: translate(-50%, -50%) rotate(calc(-125deg + var(--rotation)))
        translateX(248px) rotate(calc(125deg - var(--rotation)));
    background: var(--primary-color);
}

.testimonials .avatar-frame:not(.active):nth-child(2) {
    transform: translate(-50%, -50%) rotate(calc(168deg + var(--rotation)))
        translateX(300px) rotate(calc(-168deg - var(--rotation)));
    background: #ffc147;
}

.testimonials .avatar-frame:not(.active):nth-child(3) {
    transform: translate(-50%, -50%) rotate(calc(125deg + var(--rotation)))
        translateX(230px) rotate(calc(-125deg - var(--rotation)));
    background: #ff947a;
}

.testimonials .avatar-frame:not(.active):nth-child(4) {
    transform: translate(-50%, -50%) rotate(calc(41deg + var(--rotation)))
        translateX(250px) rotate(calc(-41deg - var(--rotation)));
    background: #b1dfdc;
}

.testimonials .avatar-frame:not(.active):nth-child(5) {
    width: 110px;
    height: 110px;
    transform: translate(-50%, -50%) rotate(calc(-45deg + var(--rotation)))
        translateX(245px) rotate(calc(45deg - var(--rotation)));
    background: #bf83ff;
}

@keyframes orbit {
    from {
        --rotation: 0deg;
    }
    to {
        --rotation: 360deg;
    }
}

@media screen and (max-width: 546px) {
    .testimonial-list {
        min-width: 70%;
    }

    .testimonials blockquote {
        font-size: 2rem;
    }

    .testimonials .images {
        margin-left: auto;
        margin-right: -100px;
    }

    .testimonials:hover .avatar-frame:not(.active) {
        animation: orbit 10s linear infinite;
    }
}

/* CTA */
.cta {
    margin-top: 130px;
    padding: 76px 0 88px;
    background: #def6f5;
}

.cta .heading {
    color: #070707;
}

.cta .desc {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.cta .cta-btn {
    background: #2ac9bf;
}

/* Footer */
.footer {
    padding-top: 131px;
    background: #fff;
}

.footer .row {
    display: flex;
}

.footer .row .col {
    flex-shrink: 0;
    width: 19.25%;
}

.footer .row .col:nth-child(1) {
    width: 23%;
}

.footer .heading {
    display: inline-block;
}

.footer .list {
    margin-top: 25px;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 20px;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer i {
    width: 20px;
    height: 20px;
    color: #0b120b;
}

.footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 50px;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}
